/* work sans font: ; from google font  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* shared css  */

.orangeBg {
  background: rgba(255, 144, 14, 0.1);
}

.orangeColor {
  background: #ff900e;
}

/* header css starts  */

.headerClass {
  /* background-color: rgb(119, 151, 246); */

  margin-bottom: 2.8rem;
}

.headerContainer {
  /* background-color: rgba(243, 246, 174, 0.878); */
  width: 85%;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 20px;
}

.navClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.navLeft {
  /* background-color: yellow; */
  width: 48%;
}

.navHeading {
  color: #131313;
  font-size: 1.4rem;
  font-weight: 700;
}

.navRight {
  /* background-color: rgb(243, 106, 106); */
  width: 36%;
}

.navRight > ul {
  display: flex;
  justify-content: space-between;
}

.navRight li {
  list-style: none;
}

.navRight li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
  font-weight: 500;
}

/* landing page starts  */

.landingPage {
  /* background-color: #ff900e; */
}

.landingPageContainer {
  /* background-color: rgb(159, 159, 244); */
}

.landingPageTop {
  /* background-color: rgb(238, 163, 163); */
  margin-bottom: 30px;
}

.landingTopContainer {
  /* background-color: rgb(141, 237, 141); */
  width: 62%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.landingPageHead {
  color: #131313;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.landingPagePara {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0.6rem;
}

.landingPageBTN {
  margin-bottom: 0.5rem;
}

.exploreBTN {
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.landingPageBottom {
  /* background-color: rgb(180, 244, 198); */
}

.landingPageBottomContainer {
  /* background-color: #f7bd7c; */
  display: flex;
  justify-content: center;
}

.landingPageBottomContainer img {
  height: 100%;
  width: 100%;
}

/* landing page ends */

/* header css ends  */

/* team features starts  */
.teamFeatures {
  /* background-color: rgb(193, 141, 246); */
  margin-bottom: 2.8rem;
}

.teamFeaturesContainer {
  /* background-color: rgb(167, 242, 217); */
  width: 80%;
  margin: auto;
}

.teamFeaturesContainerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teamFeaturesLeft {
  /* background-color: rgb(246, 125, 149); */
  width: 56%;
}

.featureLeftWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
}
.featureLeftWrapper img {
  width: 98%;
  height: 98%;
}

.teamFeaturesRight {
  /* background-color: rgb(137, 151, 245); */
  width: 42%;
}

.BlackColor {
  color: #131313;
  font-weight: 700;
}

.orangeText {
  color: #ff900e;
  font-weight: 700;
}

.featuresRightTop {
  color: #727272;
  font-size: 1.1rem;
  font-weight: 500;
  width: 90%;
  margin-bottom: 0.9rem;
}

.featuresRightPara {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 0.9rem;
}

.featureBTN {
  border-radius: 5px;
  background: #ff900e;
  padding: 12px 22px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

/* team features ends */

/*  */

/* media query for responsiveness  */
/*  */
/* for large device  */
@media screen and (max-width: 992px) {
  /* navbar media query */
  .navHeading {
    font-size: 1.3rem;
  }

  .navRight {
    width: 42%;
  }
  .navRight li a {
    font-size: 1.1rem;
  }

  /* landing page media query  */
  .landingTopContainer {
    width: 72%;
  }

  .landingPageHead {
    font-size: 1.1rem;
  }

  .landingPagePara {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  /* features section starts  */

  .featuresRightTop {
    font-size: 1rem;
    width: 94%;
  }

  .featuresRightPara {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .featureBTN {
    padding: 10px 18px;
    font-size: 0.8rem;
  }

  /* features section ends */
}

/* for medium device  */
@media screen and (max-width: 768px) {
  .navHeading {
    font-size: 1.2rem;
  }
  /* navbar media query */
  .navRight {
    width: 48%;
  }
  .navRight li a {
    font-size: 1rem;
  }

  /* landing page media query  */
  .landingTopContainer {
    width: 86%;
  }

  .landingPageHead {
    font-size: 1rem;
  }

  .landingPagePara {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .exploreBTN {
    padding: 9px 12px;
    color: #fff;
    font-size: 0.8rem;
  }

  /* features section starts  */
  .teamFeaturesLeft {
    width: 51%;
  }
  .teamFeaturesRight {
    width: 47%;
  }
  .featureLeftWrapper {
    grid-gap: 0.3rem;
  }

  .featuresRightTop {
    font-size: 0.8rem;
    width: 100%;
  }

  .featuresRightPara {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .featureBTN {
    padding: 8px 17px;
    font-size: 0.7rem;
  }

  /* features section ends */
}

/* for small device  */
@media screen and (max-width: 576px) {
  /* navbar media query */
  .navHeading {
    font-size: 1rem;
  }
  .navRight {
    width: 51%;
  }
  .navRight li a {
    font-size: 0.9rem;
  }

  /* landing page media query  */
  .landingTopContainer {
    width: 94%;
  }
  .landingPageHead {
    font-size: 0.8rem;
  }
  .landingPagePara {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .exploreBTN {
    padding: 8px 10px;
    font-size: 0.7rem;
  }

  /* features section starts  */
  .teamFeaturesContainerWrapper {
    display: flex;
    flex-direction: column;
  }

  .featureLeftWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .teamFeaturesLeft {
    margin-bottom: 2.4rem;
    width: 88%;
    display: flex;
    justify-content: center;
  }

  .featureLeftWrapper {
    width: 100%;
  }

  .featureLeftWrapper img {
    width: 100%;
    height: 98%;
  }

  .teamFeaturesRight {
    width: 90%;
  }

  .featuresRightTop {
    font-size: 1rem;
    width: 96%;
  }

  .featuresRightPara {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .featureBTN {
    padding: 10px 20px;
    font-size: 0.8rem;
  }

  /* features section ends */
}
