/* work sans font: ; from google font  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* shared css  */
.orangeBg {
  background: rgba(255, 144, 14, 0.1);
}
.orangeColor {
  background: #ff900e;
}

/* header css starts  */
.headerClass {
  margin-bottom: 2.8rem;
}

.headerContainer {
  width: 85%;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 20px;
}
.navClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.navLeft {
  width: 48%;
}
.navHeading {
  color: #131313;
  font-size: 1.4rem;
  font-weight: 700;
}
.navRight {
  width: 36%;
}
.navRight > ul {
  display: flex;
  justify-content: space-between;
}
.navRight li {
  list-style: none;
}
.navRight li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
  font-weight: 500;
}

/* landing page starts  */
.landingPageTop {
  margin-bottom: 30px;
}
.landingTopContainer {
  width: 62%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
}
.landingPageHead {
  color: #131313;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.landingPagePara {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0.6rem;
}
.landingPageBTN {
  margin-bottom: 0.5rem;
}
.exploreBTN {
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.landingPageBottomContainer {
  display: flex;
  justify-content: center;
}
.landingPageBottomContainer img {
  height: 100%;
  width: 100%;
}
/* landing page ends */
/* header css ends  */

/* team features starts  */
.teamFeatures {
  margin-bottom: 2.8rem;
}
.teamFeaturesContainer {
  width: 80%;
  margin: auto;
}
.teamFeaturesContainerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teamFeaturesLeft {
  /* background-color: rgb(246, 125, 149); */
  width: 56%;
}
.featureLeftWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
}
.featureLeftWrapper img {
  width: 98%;
  height: 98%;
}
.teamFeaturesRight {
  /* background-color: rgb(137, 151, 245); */
  width: 42%;
}
.BlackColor {
  color: #131313;
  font-weight: 700;
}
.orangeText {
  color: #ff900e;
  font-weight: 700;
}
.featuresRightTop {
  color: #727272;
  font-size: 1.1rem;
  font-weight: 500;
  width: 90%;
  margin-bottom: 0.9rem;
}
.featuresRightPara {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 0.9rem;
}
.featureBTN {
  border-radius: 5px;
  background: #ff900e;
  padding: 12px 22px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}
/* team features ends */

/* some features starts  */

.someFeaturesWrapper {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.someFeaturesLeft {
  width: 48%;
}
.featuresLeftTop {
  width: 82%;
  color: #131313;
  font-size: 1.1rem;
  font-weight: 700;
  border-left: 0.3rem solid #ff900e;
  padding-left: 1rem;
  margin-bottom: 1.3rem;
}
.featuresLeftPara {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}
.featuresLeftCard {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 0.9rem;
  cursor: pointer;
}
.featuresCardWrapper {
  width: 99%;
  margin: auto;
  padding: 1rem 0.8rem;
}
.featuresCardTo {
  color: #131313;
  font-size: 0.6rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.featuresCardPara {
  color: #727272;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4rem;
}
.someFeaturesRight {
  width: 47%;
}
.featuresRightImg {
  width: 99%;
  height: 90%;
}
.featuresRightImg img {
  height: 100%;
  width: 100%;
}
.featuresRightEXP {
  position: relative;
  width: 35%;
  top: -50px;
  left: -40px;
  border-radius: 5px;
  background: #ff900e;
  padding: 0.6rem 0.3rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 2.2rem;
}
.expHeading {
  font-size: 2rem;
}
.expLeft {
  font-size: 0.9rem;
}
/* some features ends */

/* fact section css starts  */
.factContainer {
  margin-bottom: 2.8rem;
}
.factWrapper {
  width: 85%;
  margin: auto;
}
.factTop {
  margin-bottom: 2.2rem;
}
.factTopHeading {
  margin-bottom: 0.7rem;
  color: #131313;
  font-size: 1.2rem;
  font-weight: 700;
}
.factTopPara {
  width: 47%;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.factBottomWrapper {
  /* background-color: rgba(207, 194, 248, 0.73); */
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.factBottomCard {
  /* background-color: rgb(207, 247, 245); */
  border-radius: 6px;
  border: 1px solid #ff900e;
  width: 20%;
  padding: 1.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardTop {
  /* background-color: red; */
  margin-bottom: 0.8rem;
  height: 29%;
  width: 22%;
}
.cardTop img {
  height: 100%;
  width: 100%;
}
.cardMid {
  /* background-color: rgb(139, 139, 255); */
  margin-bottom: 0.6rem;
  color: #424242;
  font-size: 1.1rem;
  font-weight: 600;
}
.cardBottom {
  /* background-color: rgb(141, 243, 141); */
  margin-bottom: 0.4rem;
  color: #727272;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}
/* fact section css ends */

/* sponsor section css starts  */
.sponsorContainer {
  margin-bottom: 4rem;
}
.sponsorWrapper {
  width: 86%;
  margin: auto;
}
.sponsorTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.2rem;
}
.sponsorTopHeading {
  margin-bottom: 0.7rem;
  color: #131313;
  font-size: 1.2rem;
  font-weight: 700;
}
.sponsorTopPara {
  width: 46%;
  text-align: center;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.sponsorBottomContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: auto;
}
.imgContainer {
  height: 3rem;
  width: 10rem;
  margin: auto;
}
.imgContainer img {
  height: 100%;
  width: 100%;
}
/* sponsor section css ends  */

/* footer section starts  */

.footerContainer {
  margin-bottom: 3rem;
}
.footerWrapper {
  border-radius: 5px;
  background: #fff4e7;
  padding: 1.3rem 0.6rem;
  width: 85%;
  margin: auto;
}

.footerPara {
  color: #424242;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

/* footer section ends */

/*  */
/* media query for responsiveness  */
/*  */
/* for large device  */
@media screen and (max-width: 992px) {
  /* navbar media query */
  .navHeading {
    font-size: 1.3rem;
  }
  .navRight {
    width: 42%;
  }
  .navRight li a {
    font-size: 1.1rem;
  }
  /* landing page media query  */
  .landingTopContainer {
    width: 72%;
  }
  .landingPageHead {
    font-size: 1.1rem;
  }
  .landingPagePara {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  /* features section starts  */
  .featuresRightTop {
    font-size: 1rem;
    width: 94%;
  }
  .featuresRightPara {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .featureBTN {
    padding: 10px 18px;
    font-size: 0.8rem;
  }
  /* features section ends */

  /* spme features starts  */

  .someFeaturesLeft {
    width: 46%;
  }

  .someFeaturesRight {
    width: 48%;
  }

  .featuresRightImg {
    width: 99%;
    height: 99%;
  }

  .featuresRightEXP {
    width: 42%;
    top: -45px;
    left: -40px;
    padding: 0.3rem 0.2rem;
    line-height: 1.5rem;
  }

  .expHeading {
    font-size: 1rem;
  }
  .expLeft {
    font-size: 0.9rem;
  }

  /* spme features ends */

  /* fact section css starts  */
  .factTopPara {
    width: 59%;
    color: #727272;
  }
  .factBottomCard {
    width: 21%;
    padding: 1.5rem 0.8rem;
  }
  .cardTop {
    /* background-color: red; */
    margin-bottom: 0.8rem;
    height: 28%;
    width: 24%;
  }
  /* fact section css ends */

  /* sponsor section starts  */
  .sponsorTopHeading {
    font-size: 1.1rem;
  }

  .sponsorBottomContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.6rem;
  }
  /* sponsor section ends */

  /* footer section starts  */

  /* footer section ends */
}

/* for medium device  */
@media screen and (max-width: 768px) {
  .navHeading {
    font-size: 1.2rem;
  }
  /* navbar media query */
  .navRight {
    width: 48%;
  }
  .navRight li a {
    font-size: 1rem;
  }

  /* landing page media query  */
  .landingTopContainer {
    width: 86%;
  }
  .landingPageHead {
    font-size: 1rem;
  }
  .landingPagePara {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .exploreBTN {
    padding: 9px 12px;
    color: #fff;
    font-size: 0.8rem;
  }

  /* features section starts  */
  .teamFeaturesLeft {
    width: 51%;
  }
  .teamFeaturesRight {
    width: 47%;
  }
  .featureLeftWrapper {
    grid-gap: 0.3rem;
  }
  .featuresRightTop {
    font-size: 0.8rem;
    width: 100%;
  }
  .featuresRightPara {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  .featureBTN {
    padding: 8px 17px;
    font-size: 0.7rem;
  }
  /* features section ends */

  /* some features starts  */

  .someFeaturesWrapper {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  .someFeaturesLeft {
    width: 80%;
  }

  .someFeaturesRight {
    width: 78%;
  }
  .featuresRightEXP {
    width: 40%;
    top: -43px;
    left: -60px;
    padding: 0.6rem 0.1rem;
    line-height: 1.9rem;
  }

  /* some features ends  */

  /* fact section css starts  */
  .factBottomWrapper {
    /* background-color: rgba(252, 71, 43, 0.73); */
    width: 96%;
    margin: auto;
  }
  .factTopPara {
    width: 86%;
    color: #727272;
  }
  .factBottomCard {
    width: 24%;
    padding: 1.2rem 0.5rem;
  }
  .cardMid {
    font-size: 1rem;
  }
  .cardBottom {
    font-size: 0.8rem;
  }
  /* fact section css ends */

  /* sponsor section starts  */
  .sponsorTopHeading {
    font-size: 0.9rem;
  }
  .sponsorTopPara {
    width: 64%;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .sponsorBottomContainer {
    row-gap: 2.6rem;
  }
  .imgContainer {
    height: 2.6rem;
    width: 8.6rem;
  }
  /* sponsor section ends */

  /* footer section starts  */
  .footerPara {
    font-size: 0.9rem;
  }
  /* footer section ends */
}

/* for small device  */
@media screen and (max-width: 576px) {
  /* navbar media query */
  .navHeading {
    font-size: 1rem;
  }
  .navRight {
    width: 51%;
  }
  .navRight li a {
    font-size: 0.9rem;
  }

  /* landing page media query  */
  .landingTopContainer {
    width: 94%;
  }
  .landingPageHead {
    font-size: 0.8rem;
  }
  .landingPagePara {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .exploreBTN {
    padding: 8px 10px;
    font-size: 0.7rem;
  }

  /* features section starts  */
  .teamFeaturesContainerWrapper {
    display: flex;
    flex-direction: column;
  }
  .featureLeftWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .teamFeaturesLeft {
    margin-bottom: 2.4rem;
    width: 88%;
    display: flex;
    justify-content: center;
  }
  .featureLeftWrapper {
    width: 100%;
  }
  .featureLeftWrapper img {
    width: 100%;
    height: 98%;
  }
  .teamFeaturesRight {
    width: 90%;
  }
  .featuresRightTop {
    font-size: 1rem;
    width: 96%;
  }
  .featuresRightPara {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .featureBTN {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
  /* features section ends */

  /* some features starts  */
  .someFeaturesLeft {
    width: 90%;
  }

  .featuresLeftTop {
    width: 98%;
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
  }

  .featuresLeftPara {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-bottom: 0.9rem;
  }

  .someFeaturesRight {
    width: 88%;
  }

  .featuresRightEXP {
    width: 40%;
    top: -40px;
    left: -50px;
    padding: 0.5rem 0.1rem;
    line-height: 1.7rem;
  }

  /* some features ends */

  /* fact section css starts  */
  .factTopPara {
    width: 100%;
    color: #727272;
  }
  .factBottomWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 92%;
    margin: auto;
    grid-gap: 8px;
  }
  .factBottomCard {
    width: 88%;
    padding: 1.9rem 0.9rem;
  }
  .cardBottom {
    font-size: 0.9rem;
  }
  /* fact section css ends */

  /* sponsor section starts  */
  .sponsorTopHeading {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .sponsorTopPara {
    width: 75%;
    font-size: 1.1rem;
  }
  .sponsorBottomContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
    width: 75%;
    margin: auto;
  }
  .imgContainer {
    height: 3.4rem;
    width: 14rem;
    margin: auto;
  }
  /* sponsor section ends */

  /* sponsor section starts  */
  .footerPara {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  /* sponsor section ends */
}
