* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* shared css  */
.btnPrimary {
  border-radius: 0.3125rem;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 28px;
  cursor: pointer;
}

.primaryColor {
  color: #fd6e0a;
}

.header {
  background-color: #fff8f3;
}

/* nav related styles  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
}

/* left side of navbar */
.leftHeading {
}
.navHeading {
  color: #181818;
  font-size: 2.8125rem;
}

/* right side of navbar */
.navRight {
}

.navRight > ul {
  display: flex;
  align-items: center;
}

.navRight li {
  list-style: none;
}
.navRight a {
  text-decoration: none;
  margin-right: 2rem;
}

/* nav related style ends  */

/* banner related style  */
.banner {
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 650px 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 22px 0px 140px;
  margin-bottom: 50px;
}

.bannerLeft {
  width: 40rem;
}
.bannerTitle {
  color: #474747;
  font-size: 40px;
}
.bannerHeading {
  color: #181818;
  font-size: 75px;
  margin-bottom: 22px;
}

.bannerDescription {
  max-width: 585px;
  margin-bottom: 24px;
}

.contactBtn {
  color: #fd6e0a;
  background-color: #fff8f3;
  border: 1px solid #fd6e0a;
}

.bannerRight {
}

.bannerImageContainer {
  width: 468px;
  height: 480px;
}

.bannerImageContainer img {
  height: 100%;
  width: 100%;
}

/* banner style ends  */

/* about section starts  */
.aboutSection {
  margin: auto;
  border-radius: 10px;
  background: #fff8f3;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  margin-bottom: 50px;
}

.aboutHeading {
  color: #181818;
  font-size: 25px;
  margin-bottom: 40px;
}

.aboutDescription {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.aboutInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* about section ends  */

/* what i do section starts  */
.whatIDo {
  margin-bottom: 50px;
}

.whatIdoTopWrapper {
  max-width: 68%;
  margin: auto;
}

.whatHeading {
  color: #181818;
  font-size: 25px;
  margin-bottom: 40px;
  text-align: center;
}

.whatdescription {
  color: #757575;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.whatCardSection {
  max-width: 84%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.cardSection {
  width: 267px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 24px 24px;
  cursor: pointer;
}

.cardTopIcon {
  width: 44px;
  height: 44px;
  margin-bottom: 25px;
}

.cardTopIcon img {
  width: 100%;
  height: 100%;
}

.cardHeading {
  color: #181818;
  font-size: 20px;
  margin-bottom: 25px;
}

.cardDescription {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}

/* ! what i do section ends  */

/* ? resume section starts  */
.resumeSection {
  margin-bottom: 65px;
}

.resumeContainer {
  width: 92%;
  margin: auto;
}

.resumeHeading {
  margin-bottom: 60px;
  color: #181818;
  text-align: center;
  font-size: 22px;
}

.resumeFlexWrapper {
  display: flex;
  justify-content: space-evenly;
}

.resumeLeft {
  width: 40%;
}

.resumeCard {
  margin-bottom: 12px;
  padding-bottom: 12px;
  padding-top: 10px;
  border-bottom: 1px solid #474747;
}

.educationSectionHeading {
  color: #474747;
  font-size: 18px;
  margin-bottom: 20px;
}

.resumeCardHeading {
  color: #474747;
  font-size: 17px;
  margin-bottom: 7px;
}
.resumeTitle {
  color: #757575;
  font-size: 14px;
  margin-bottom: 20px;
}

.remuneDescription {
  color: #757575;
  font-size: 14px;
  line-height: 28px;
}

.resumeRight {
  width: 40%;
}

.btnDiv {
  margin-top: 24px;
  text-align: center;
}

/* resume section ends  */

/* footer style starts  */

.footerContainer {
  background-color: #fff8f3;
  padding: 34px 4px;
}

.footerWrapper {
  padding: 6px;
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.footerLeft {
  width: 46%;
}

.leftHeading {
  color: #181818;
  font-size: 19px;
  margin-bottom: 10px;
}

.leftDescription {
  color: #474747;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 28px;
}

.iconSection {
  width: 16%;
  display: flex;
  justify-content: space-between;
  color: #fd6e0a;
}
.iconSection a {
  color: #fd6e0a;
}

.footerRight {
  width: 48%;
}
.footerRightHeading {
  color: #181818;
  font-size: 19px;
  margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="email"],
textarea {
  display: block;
  margin-bottom: 22px;
  padding: 16px 32px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
}

/* footer style ends */
